.ant-layout {
  margin: 0px auto;
}

.ant-layout-header {
  padding: 0;
  text-align: left;
}

.ant-menu-horizontal {
  border-bottom: 0px solid transparent;
  line-height: 30px;
  margin-top: 16px;
  white-space: pre-wrap;
  float: right;
}

.ant-menu-horizontal>.ant-menu-item,
.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected,
.ant-menu-horizontal>.ant-menu-submenu {
  border-bottom-width: 1px;
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-submenu,
.ant-menu-submenu-horizontal {
  padding: 0 0px;
}

.ant-menu-item,
.ant-menu-submenu-horizontal {
  margin-right: 20px;
}

.ant-layout-content {
  min-height: 50vh;
  align-items: center;
  display: flex;
}

.ant-layout-footer {
  margin-top: 2rem;
  padding: 0;
}

.ant-card-meta-description {
  max-height: 60px;
}

.ant-card-meta-avatar {
  float: none;
  text-align: right;
  height: 0px;
}

.ant-card-meta-avatar span {
  text-align: right;
}

.ant-avatar {
  margin-right: -20px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.ant-card {
  margin-bottom: 12px;
}

.ant-col-6 {
  margin: 2px;
  width: 24.6%;
}

.ant-btn {
  border-radius: 0px;
}

.nalabel {
  font-size: 0.75rem;
  text-align: left;
}

h2 { 
  color: rgba(222, 12, 101, 0.9);
  font-weight: 200;
}

.s85 {
  font-size: 0.85rem;
}

.mt { margin-top: 1rem; }

.inference_label {
  margin-top: 5px;
  color: rgba(222, 12, 101, 0.9);
  font-size: 0.75rem;
}

@media screen and (min-width: 1280px) {
  .ant-layout {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1088px) {
  .ant-layout {
    max-width: 960px;
    width: 960px;
  }
  .ant-col-6 {
    width: 32.5%;
  }
}

@media screen and (max-width: 1088px) and (min-width: 768px) {
  .ant-layout {
    padding: 0 24px;
  }
  .ant-col-6 {
    width: 49.2%;
  }
}

@media only screen and (max-width: 768px) {
  .ant-layout {
    padding: 0 24px;
    margin: 10px auto;
  }
  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .ant-layout-header svg {
    width: 160px;
    display: inline-block;
  }
  .ant-menu-horizontal {
    display: inline-block;
    border-bottom: 0px solid transparent;
    margin-top: 0;
    width: 20px;
  }
  .ant-menu-horizontal>.ant-menu-item,
  .ant-menu-horizontal>.ant-menu-item:hover,
  .ant-menu-horizontal>.ant-menu-submenu:hover,
  .ant-menu-horizontal>.ant-menu-item-active,
  .ant-menu-horizontal>.ant-menu-submenu-active,
  .ant-menu-horizontal>.ant-menu-item-open,
  .ant-menu-horizontal>.ant-menu-submenu-open,
  .ant-menu-horizontal>.ant-menu-item-selected,
  .ant-menu-horizontal>.ant-menu-submenu-selected,
  .ant-menu-horizontal>.ant-menu-submenu {
    border-bottom-width: 0px;
  }
  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    margin: 0;
  }
  .ant-layout-content {
    margin-top: 60px;
  }
  .ant-col-6 {
    width: 100%;
  }
}

.progress {
  height: 2px !important;
  background-color: red;
}
 
#testimage,
.is {
  width: 224px;
  height: 224px !important;
}

.testimage {
  width: 224px;
  height: 224px;
  display: none !important;
}

#log {
  height: 224px;
  max-height: 224px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 3px hsla(0,0%,4%,.01), 0 0 0 1px hsla(0,0%,4%,.01);
  text-align: left;
  font-size: 0.75rem;
}

.btnlog {
  text-align: right;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btnlog button {
  margin-top: -1px;
  font-size: 0.75rem;
}

 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

 ::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

.run {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.runfullwidth, .runhalfwidth, .runlog, .runbtn {
  text-align: center;
}

.runfullwidth {
  display: block;
  width: 100%;
}

.runhalfwidth {
  display: block;
  width: 48%;
}

.vc {
  height: 256px;
}

.ant-table-small th div, .ant-table-small td {
  text-align: center;
}

.ant-table-small tr:nth-child(odd) {
  background-color: #fafafa;
}

.ant-table-small th, .ant-table-small td {
  padding: 6px 4px !important;
}

.ant-table-small {
  border: 0px;
  font-size: 0.75rem;
}

.ant-table-pagination.ant-pagination {
  font-size: 0.75rem;
}


@media (max-width: 768px) {
  #testimage,
  .is {
    width: 224px;
    height: 224px !important;
  }
  .testimage {
    width: 224px;
    height: 224px;
    display: none !important;
  }

  .run {
    margin: 1rem auto;
    display: block;
  }

  .runhalfwidth {
    display: block;
    width: 100% !important;
  }

  #log {
    height: 112px;
  }

  .cmh,
  .cmh canvas {
    max-height: 320px !important;
  }
}

.ant-progress-bg {
  height: 1px !important;
}